@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    flex-direction: column;
}

main {
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    min-height: 75vh; 
    flex-direction: column;
}

body,
main,
.hero,
.search,
.card,
.text-top,
.card-info,
.watchlist-toggle {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

/* HERO */

.hero {
    color: #fff;
    background-image: url("./image\ 36.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 0 25%;
    background-size: cover;
    width: 100%;
    height: 25vh;
    max-width: 700px;
    justify-content: space-between;
    padding: 4em 2em;
}

h1 {
    font-size: 2.6rem;
}

.watchlist-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
} 

.watchlist-link:hover,
.watchlist-link:focus,
.watchlist-link:active {
    color: #FEC654;
    outline: none;
}

@media (max-width: 500px) {
    .hero {
        flex-direction: column;
        padding: 1.5em;
    }   
    
    h1 {
        font-size: 2.2rem;
    }
    
    .watchlist-link {
        margin-bottom: 1.5em;
        align-self: flex-end;
    }
}

/* SEARCH BAR */

.search {
    align-self: center;
    background-color: #fff;
    width: 80%;
    height: 40px;
    max-width: 550px;
    border: 1px solid #D1D5DB;
    border-radius: .4em;
    justify-content: space-between;
    overflow: hidden;
    margin: -20px 0 30px 0;
}

.search-bar {
    color: #6B7280;
    font-weight: 500;
    border: none;
    border-right: 1px solid #D1D5DB;
    width: 70%;
    height: 100%;
}

.search-btn {
    color: #374151;
    font-weight: 500;
    border: 0;
    background-color: #f9fafb;
    width: 30%;
    height: 100%;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:active    {
    background-color: #D1D5DB;
}

.search-bar:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: #9CA3AF;
    margin: 10px;
}


/* FILM RENDER AREA */

.card-container {
    width: 90%;
}

.cards-placeholder {
    color: #DFDDDD;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    margin: 30% auto;
    text-align: center;
}

#cards-placeholder-icon {
    width: 20%
}

.add-movies-link {
    color: #363636;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin-top: 1.5em;
}

.add-movies-link:hover {
    color: #005800c2;
}


/* FILMS */
.card {
    gap: 1.5em;
    border-bottom: 1.5px solid #E5E7EB;
    padding: 1.5em 0;
}

.card-img {
    width: 100px;
}

.card-main {
    width: 100%;
}

.fa-star {
    color: #FEC654;
    font-size: .6rem;
    margin-right: .3em;
}

.rating {
    font-size: .8rem;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1em;
}

.card-info {
    font-size: .8rem;
    color: #111827;
    gap: 2em;
    margin: 1em 0;
}

.watchlist-toggle {
    color: #111827;
    border: none;
    background-color: transparent;
    gap: .5em;
    cursor: pointer;
}

.watchlist-toggle:hover > .fa-circle-plus,
.watchlist-toggle:active > .fa-circle-plus {
    color: #005800c2;
}

.watchlist-toggle:hover > .fa-circle-minus,
.watchlist-toggle:active > .fa-circle-minus {
    color: #971313;
}

.watchlist-toggle:hover,
.watchlist-toggle:active {
    font-weight: 500;
}

.fa-circle-plus,
.fa-circle-minus {
    font-size: 1.1rem;   
}

.fa-circle-plus,
.fa-circle-minus,
.watchlist-text {
    pointer-events: none;
}

.plot {
    color: #6B7280;
    font-size: .9rem;
    line-height: 1.2rem;
}

.read-more {
    color: #272727;
    font-size: .8rem;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}


/* Spinner */


.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #FEC654;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 25% auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }